.auto-style12 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 350px;
    float: left;
    position: absolute;
    left: 300px;
    top: 200px;
    height: 330px;
}

.auto-style15 {
    width: 102px;
    height: 27px;
}

.auto-style14 {
    width: 100px;
    height: 27px;
}
