.auto-style10 {
    width: 1602px;
    height: 364px;
}

.auto-style12 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 400px;
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    float: left;
    height: 165px;
    position: absolute;
    left: 300px;
    top: 600px;
}

.autostyle15 {
    width: 150px;
}

.auto-style14 {
    width: 90px;
}

.auto-style19 {
    width: 68px;
}

.auto-style21 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 400px;
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    float: left;
    height: 280px;
    position: absolute;
    left: 300px;
    top: 100px;
}

.auto-style24 {
    width: 200px;
    text-align: left;
    height: 11px;
}

.auto-style26 {
    width: 90px;
    text-align: left;
    height: 11px;
}

.auto-style28 {
    height: 197px;
}

.auto-style29 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 400px;
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    float: left;
    height: 130px;
    position: absolute;
    left: 300px;
    top: 420px;
}

.auto-style30 {
    height: 245px;
}

.auto-style32 {
    width: 90px;
    height: 38px;
}

.auto-style33 {
    width: 200px;
    height: 38px;
}

.auto-style34 {
    width: 68px;
    height: 38px;
}

.auto-style35 {
    height: 167px;
    width: 500px;
    margin-left: 522px;
}

.auto-style36 {
    width: 200px;
}

.auto-style37 {
    width: 200px;
    text-align: left;
}

.auto-style38 {
    width: 199px;
}

.auto-style39 {
    height: 60px;
    position: absolute;
    display: inline-block;
    float: left;
    left: 11px;
    top: 821px;
}

.auto-style40 {
    height: 25px;
    top: 20px;
    width: 75px;
    position: absolute;
    left: 330px;
}

.auto-style41 {
    height: 25px;
    left: 655px;
    top: 20px;
    width: 75px;
    position: absolute;
}

.auto-style43 {
    height: 22px;
}

.auto-style45 {
    height: 189px;
}

.auto-style46 {
    height: 189px;
    width: 4px;
}

.auto-style47 {
    height: 189px;
    width: 42px;
}

.auto-style48 {
    height: 167px;
    width: 432px;
    margin-left: 522px;
}

.auto-style49 {
    height: 60px;
    width: 100%;
    position: absolute;
    display: inline-block;
    float: left;
    left: 9px;
    top: 816px;
    right: 195px;
    .auto-style50 {
            height: 189px;
            width: 380px;
        }

        .auto-style51 {
            position: absolute;
            left: 774px;
            top: 694px;
            width: 150px;
        }

        .auto-style54 {
            height: 25px;
            top: 690px;
            width: 90px;
            position: absolute;
            left: 341px;
            z-index: 1;
        }

        .auto-style56 {
            height: 25px;
            left: 652px;
            top: 690px;
            width: 90px;
            position: absolute;
        }

        .auto-style57 {
            width: 100px;
            text-align: left;
            height: 27px;
        }

        .auto-style65 {
            width: 100px;
            height: 27px;
        }

        .auto-style66 {
            width: 200px;
            text-align: left;
            height: 27px;
        }

        .auto-style68 {
            width: 1602px;
            height: 746px;
        }

        .auto-style69 {
            height: 125px;
            width: 432px;
            margin-left: 522px;
            position: absolute;
            top: 494px;
            left: 233px;
            z-index: 1;
        }

        .auto-style71 {
            border-style: solid;
            border-width: 3px;
            padding: 1px 4px;
            width: 400px;
            margin-top: 40px;
            margin-left: 40px;
            display: inline-block;
            float: left;
            height: 155px;
            position: absolute;
            left: -456px;
            top: -24px;
        }

        .auto-style74 {
            height: 189px;
            width: 14px;
        }

        .auto-style10 {
            width: 1602px;
            height: 364px;
        }

        .auto-style12 {
            border-style: solid;
            border-width: 3px;
            padding: 1px 4px;
            width: 400px;
            margin-top: 40px;
            margin-left: 40px;
            display: inline-block;
            float: left;
            height: 165px;
            position: absolute;
            left: 300px;
            top: 600px;
        }

        .autostyle15 {
            width: 150px;
        }

        .auto-style14 {
            width: 90px;
        }

        .auto-style19 {
            width: 68px;
        }

        .auto-style21 {
            border-style: solid;
            border-width: 3px;
            padding: 1px 4px;
            width: 400px;
            margin-top: 40px;
            margin-left: 40px;
            display: inline-block;
            float: left;
            height: 280px;
            position: absolute;
            left: 300px;
            top: 100px;
        }

        .auto-style24 {
            width: 200px;
            text-align: left;
            height: 11px;
        }

        .auto-style26 {
            width: 90px;
            text-align: left;
            height: 11px;
        }

        .auto-style28 {
            height: 197px;
        }

        .auto-style29 {
            border-style: solid;
            border-width: 3px;
            padding: 1px 4px;
            width: 400px;
            margin-top: 40px;
            margin-left: 40px;
            display: inline-block;
            float: left;
            height: 130px;
            position: absolute;
            left: 300px;
            top: 420px;
        }

        .auto-style30 {
            height: 245px;
        }

        .auto-style32 {
            width: 90px;
            height: 38px;
        }

        .auto-style33 {
            width: 200px;
            height: 38px;
        }

        .auto-style34 {
            width: 68px;
            height: 38px;
        }

        .auto-style35 {
            height: 167px;
            width: 500px;
            margin-left: 522px;
        }

        .auto-style36 {
            width: 200px;
        }

        .auto-style37 {
            width: 200px;
            text-align: left;
        }

        .auto-style38 {
            width: 199px;
        }

        .auto-style39 {
            height: 60px;
            position: absolute;
            display: inline-block;
            float: left;
            left: 11px;
            top: 821px;
        }

        .auto-style40 {
            height: 25px;
            top: 20px;
            width: 75px;
            position: absolute;
            left: 330px;
        }

        .auto-style41 {
            height: 25px;
            left: 655px;
            top: 20px;
            width: 75px;
            position: absolute;
        }

        .auto-style43 {
            height: 22px;
        }

        .auto-style45 {
            height: 189px;
        }

        .auto-style46 {
            height: 189px;
            width: 4px;
        }

        .auto-style47 {
            height: 189px;
            width: 42px;
        }

        .auto-style48 {
            height: 167px;
            width: 432px;
            margin-left: 522px;
        }

        .auto-style49 {
            height: 60px;
            width: 100%;
            position: absolute;
            display: inline-block;
            float: left;
            left: 9px;
            top: 816px;
            right: 195px;
        }

        .auto-style75 {
            width: 400px;
            display: inline-block;
            float: left;
            height: 330px;
            position: absolute;
            left: 300px;
            top: 100px;
            border-style: solid;
            border-width: 3px;
            margin-left: 40px;
            margin-top: 40px;
            padding: 1px 4px;
        }

        .auto-style78 {
            width: 100px;
        }

        .auto-style79 {
            width: 100px;
            height: 38px;
}
