.auto-style12 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 400px;
    margin-top: 100px;
    margin-left: 300px;
    display: inline-block;
    float: left;
    height: 80px;
    position: absolute;
    left: 100px;
    top: 100px;
}

}

.auto-style13 {
    height: 500px;
}

.auto-style14 {
    height: 40px;
}

.auto-style15 {
    position: relative;
    top: 5px;
    left: 5px;
    width: 106px;
}

.auto-style16 {
    height: 40px;
    width: 106px;
}
