.auto-style10 {
    height: 500px;
}

.auto-style12 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 350px;
    margin-top: 100px;
    margin-left: 300px;
    display: inline-block;
    float: left;
}

.auto-style13 {
    position: relative;
    top: 200px;
    left: 40px;
    width: 75px;
}

.autostyle15 {
    width: 150px;
}

.auto-style14 {
    width: 90px;
}

.auto-style15 {
    width: 171px;
    text-align: left;
}

.auto-style16 {
    width: 90px;
    text-align: left;
}

.auto-style17 {
    border-style: solid;
    border-width: 3px;
    padding: 1px 4px;
    width: 400px;
    margin-top: 100px;
    margin-left: 300px;
    display: inline-block;
    float: left;
    height: 120px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.auto-style18 {
    width: 123px;
    text-align: left;
}

.auto-style19 {
    width: 123px;
}

.auto-style20 {
    height: 25px;
    position: absolute;
    left: 725px;
    top: 355px;
    width: 75px;
}
